<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ng-href="/">Live Stream Creator</a>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <new-stream-link class="navbar-btn"></new-stream-link>
        </div>
    </div>
</nav>

<div class="container">
    <div ng-if="ctrl.wowzaStreams.length === 0 || ctrl.incomingFailure" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-fire blink"></span>
        No incoming streams found. Please email <a ng-href="mailto:video.dev@theguardian.com">video.dev@theguardian.com</a> for help.
    </div>

    <div ng-if="ctrl.wowzaStreams.length > 0">
        <form class="form-horizontal" ng-submit="ctrl.submit()">
            <div class="form-group">
                <label for="stream-incoming" class="col-sm-2 control-label">Incoming Stream</label>
                <div class="col-sm-10">
                    <select name="stream-incoming"
                            id="stream-incoming"
                            ng-model="ctrl.newStream.wowza"
                            class="form-control"
                            ng-required
                            ng-options="stream.data as stream.data.name for stream in ctrl.wowzaStreams">
                        <option value="" disabled selected>Select a stream</option>
                    </select>
                </div>
            </div>

            <div class="form-group" ng-if="ctrl.newStream.wowza !== undefined">
                <div class="col-sm-offset-2 col-sm-10">
                    <wz-stream-preview class="embed-responsive embed-responsive-16by9" stream="ctrl.newStream.wowza"></wz-stream-preview>
                </div>
            </div>

            <div class="form-group">
                <label for="stream-outgoing" class="col-sm-2 control-label">YouTube Channel</label>
                <div class="col-sm-10">
                    <select name="stream-outgoing"
                            id="stream-outgoing"
                            ng-model="ctrl.newStream.channel"
                            class="form-control"
                            ng-required
                            ng-options="channel.data.id as channel.data.title for channel in ctrl.channels">>
                        <option value="" disabled selected>Select a YouTube Channel</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="stream-title" class="col-sm-2 control-label">Video Title</label>
                <div class="col-sm-10">
                    <input type="text" name="title" id="stream-title" class="form-control" ng-model="ctrl.newStream.title" ng-required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>

