html, body, p, th, td, li, dd, dt, pre {
 font: 1em Verdana, Arial, Helvetica, sans-serif;
 }

.error { color:#FF0000; }

h1, h2, h3, h4, h5, h6 {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 }
 h1 { font-size: 1.7em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.3em ; }
 h4 { font-size: 1.1em; }
 h5 { font-size: 1.0em; margin:0; padding:0; }
 h6 { font-size: 1.0em; }

.descriptive { font-size:0.8em; margin:0; padding:0; }
a:link { color: #00f; }
 a:visited { color: #009; }
 a:hover { color: #06f; }
 a:active { color: #0cf; }

td { vertical-align: top; }


.odd { background-color: #FFFFFF; }
.even { background-color: #CCCCCC; }

.menupanel {
    background-color: #AAAAAA;
    border: 1.0px;
    border-color: #000000;
    display: block;
    padding:0.1em;
}

iframe { border:none; }

table.dashboardpanel {
    border: 2px solid black;
    border-collapse: collapse;
    border-spacing: 3px;
    font: 0.8em "Lucida Console",Monaco,monospace;
    overflow: scroll;
}

td {
    border: 1px solid black;
    padding: 3px;
}

.dashboardheader {
    background-color: #AAAAFF;
    font-size:1.1em;
    font-weight: bold;
}

div.dashboardpanel {
    float: left;
	overflow: auto;
    padding:10px;
}

.smallicon {
    width: 16px;
}

.medicon {
    width: 24px;
}
