@import java.net.URI

@(apiUri: URI)

<!DOCTYPE html>

<html>
    <head>
        <title>Live Stream Creator</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="api-uri" href="@apiUri.toString">
    </head>
    <body>
        <script src="@routes.Assets.at("jspm_packages/system.js")"></script>
        <script src="@routes.Assets.at("config.js")"></script>
        <script>
            System.import("js/main").catch(function(error) {
                setTimeout(function(){ throw error; });
            });
        </script>

        <lv-app></lv-app>
    </body>
</html>
